{% extends 'base.html' %}
{% block title %} 
เกี่ยวกับฉัน ไอน้อง
{% endblock title %}
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="https://upload-os-bbs.hoyolab.com/upload/2021/11/24/135691974/1f448a0ec169eba4bf42e0df594fe107_4775900143310499723.jpg?x-oss-process=image%2Fquality%2Cq_80%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endblock content %}

