{% extends 'base.html' %}
{% block title %} ข้อมูลนักศึกษา {% endblock title %}
{% block content %}
{{ massage }}
<table class="table">
    <thead>
      <tr>
        <th scope="col">  ลำดับ</th>
      </tr>
      <tr>
        <th scope="col">  ID</th>
      </tr>
      <tr>
        <th scope="col">  Prefix</th>
        <td>{{ prefix_str }}</td>
      </tr>
      <tr>
        <th scope="col">  Name</th>
        <td>{{ student.name }}</td>
      </tr>
      <tr>
        <th scope="col">  Lastname</th>
      </tr>
      <tr>
        <th scope="col">  Phone</th>
      </tr>
    </thead>
    <tbody>
     {% for student in students %}
     <tr>
      <th scope="row">1</th>
      <td>{{ student.std_id }}</td>
      <td>{{ student.prefix }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.lastname }}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.address }}</td>
    </tr>
     {% endfor %}

    </tbody>
  </table>
{% endblock content %}  