{% extends 'base.html' %}
<!---->
{% block title %}
    เกี่ยวกับฉัน
{% endblock title %}

<!---->
{% block Content %}
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <img src="https://upload-os-bbs.hoyolab.com/upload/2021/11/24/135691974/1f448a0ec169eba4bf42e0df594fe107_4775900143310499723.jpg?x-oss-process=image%2Fquality%2Cq_80%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <img src="https://cdn.discordapp.com/attachments/1034021483036549151/1138905413924966521/Yae.Miko.full.3387477.jpg">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
{% endblock Content %}